{%load customFilters%}
<div class="card w-50" id="upload-post">
    <div class="card-body">
        {%load static%}
        <form enctype="multipart/form-data" id="newPostForm">
            {%csrf_token%}
            <div>
                <label class="form-label"><b>Upload New Post</b></label>
            </div>
            
            <div>
                {%setvar "post-textarea" as newPostId %}
                {%setvar "used-chars" as eleId %}
                <textarea id="{{newPostId}}" class="form-control" rows="5" name="post_text" required maxlength="1024" 
                oninput="remainingChars('{{newPostId}}', '{{eleId}}')"></textarea>
                <div class="d-flex justify-content-end" style="font-size: 12px;" id="{{eleId}}">0/1024</div>
            </div>
            
            <div>
                <input id="select-files" type="file" multiple name="pics" accept="image/*" style="border: none; display: none;">
            </div>     
            
            
            <div class="mt-2 d-flex align-items-center p-2"> <!--style ="background-color: red;"-->
                <div style="height: 30px; width: 30px;" class="flex-shrink-0" >
                    <img class="img-fluid" src="{% static 'images/add-photo.png' %}" onclick="selectFiles()">
                </div>
                <div id="selected-files" class="flex-grow-1 ms-3"> </div> <!-- style="background-color: green;"-->
                <div class="ms-auto"> <!--</div> style="background-color: aqua;">-->
                    <button class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" onclick="newPost()">
                        Post
                    </button>
                </div>
            </div>
        </form>
        
    </div>
</div>