{% load customFilters %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static "css/postStyles.css" %}">
{% endblock head %}

<div class="d-flex justify-content-start">
    <button class="btn btn-link" onclick="{{back}}">Back</button>
</div>

<div class="d-flex justify-content-center mt-5">
    <div class="card w-75">
        <div class="card-header">
            <b>{{posts.by.get_fullname}}</b> <small>posted</small>
        </div>
        <div class="card-body">
            <p>{{posts.post_text|linebreaks}}</p>

            {%setvar posts.urls.urls|transform:2 as postPics%}
            {% for pics in postPics %}
            <div class="row mt-2">
                {%for picUrl in pics%}
                <div class="col-sm-6">
                    <div class="card w-100">
                        <div class="card-body feedPost">
                            <img src="{{picUrl}}">
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
            {% endfor %}

            {%if homeBackPage %}
            {%setvar homeBackPage as bck%}
            {% elif friendBackPage %}
            {%setvar friendBackPage as bck%}
            {% elif meBackPage %}
            {%setvar meBackPage as bck%}
            {% elif notiBackPage %}
            {%setvar "notifications" as bck%}
            {%setvar notiBackPage as page%}
            {%endif%}

            <div class="mt-3">
                {%isLiked request.user posts as likedPost%}
                {%if likedPost %}
                    {% if bck == "notifications" %}
                        {%createString "api/likePost/1/?pageType=fullPage&postId=" posts.id "&back=" bck "&divId=" divId "&page=" page as lURL%}
                    {% else %}
                        {%createString "api/likePost/1/?pageType=fullPage&postId=" posts.id "&back=" bck "&divId=" divId as lURL%}
                    {% endif %}
                
                <a href="javascript:void(0)" class="btn btn-primary btn-sm position-relative" onclick="unlikePost('{{divId}}', '{{lURL}}')">
                    Unlike&nbsp;
                    <span class="position-relative badge rounded-pill bg-success">{{posts.likes}}</span>
                </a>
                {%else%}
                    {% if bck == "notifications" %}
                        {%createString "api/likePost/0/?pageType=fullPage&postId=" posts.id "&back=" bck "&divId=" divId "&page=" page as lURL%}
                    {% else %}
                        {%createString "api/likePost/0/?pageType=fullPage&postId=" posts.id "&back=" bck "&divId=" divId as lURL%}
                    {% endif %}
                
                <a href="javascript:void(0)" class="btn btn-outline-primary btn-sm position-relative" onclick="likePost('{{divId}}', '{{lURL}}')">
                    Like&nbsp;
                    <span class="position-relative badge rounded-pill bg-success">{{posts.likes}}</span>
                </a>
                {%endif%}
                <a class="btn btn-outline-success btn-sm" data-bs-toggle="collapse"
                    href="#collapseComment-{{posts.id}}">Comment</a>
            </div>
            <div class="collapse w-100" id="collapseComment-{{posts.id}}">
                {% include 'components/forComments/showComments.html' %}
            </div>
        </div>
    </div>
</div>