{% load customFilters %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static "css/postStyles.css" %}">
{% endblock head %}

<div class="card w-75">
    <div class="card-header">
        <b>{{posts.by.get_fullname}}</b> <small>posted</small>
        {%if posts.by == request.user%}
        <div class="dropdown float-end">
            <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                &#9477;
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                {%createString "api/deletePost/?loc=" loc "&pid=" posts.id as delURL%}
                <li><button class="btn btn-danger w-100" onclick="deletePost('{{divId}}', '{{delURL}}')">Delete Post</button></li>
              </ul>
        </div>
        {%endif%}
    </div>
    
    <div class="card-body" id="post-card">
        <p>{{posts.post_text}}</p>

        <div class="row">
            {%for url in posts.urls.urls|slice:":2"%}
            <div class="col-sm-6">
                <div class="card w-100">
                    <div class="card-body feedPost">
                        <img src="{{url}}">
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
        
        <div class="mt-3">
            <div class="float-start">
                <a class="btn btn-outline-success btn-sm" data-bs-toggle="collapse" href="#collapseComment-{{posts.id}}">
                    Comment
                </a>
            </div>
            <div class="float-end">
                {%createString "api/fullPost/?pid=" posts.id "&back=" goBack as postURL%}
                <button class="btn btn-link" onclick="showFullPost('{{divId}}', '{{postURL}}')">Show Full Post</button>
            </div>
        </div>
    </div>
    <div class="collapse w-100" id="collapseComment-{{posts.id}}">
    {% include 'components/forComments/showComments.html' %}
    </div>
</div>