<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="me-2" style="height: 40px; width: 47px;">
            {%load static%}
            <img src="{% static 'images/Slogo.jpg' %}" class="img-fluid rounded-circle">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="nav-link" aria-current="page" onclick="goHome()">Feed</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" aria-current="page" onclick="getNotifications()">Notifications&nbsp;&nbsp;
                        <span class="position-absolute top-2 start-90 translate-middle badge rounded-pill bg-transparent" id="notify-count">
                            {%if request.user.notify_count != 0%}
                            {{request.user.notify_count}}
                            {%else%}
                                0
                            {%endif%}
                            </span>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" aria-current="page" onclick="goToAccount()">Account</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link position-relative " aria-current="page" onclick="getRequests()">Requests&nbsp;&nbsp;
                        <span class="position-absolute top-2 start-90 translate-middle badge rounded-pill bg-transparent" id="requests-count">
                        {%if request.user.request_count != 0%}
                        {{request.user.request_count}}
                        {%else%}
                            0
                        {%endif%}
                        </span>
                    </button>
                </li>
            </ul>

            <form class="d-flex" role="search" id="searchUserForm">
                <input class="form-control me-2" type="text" name="find" placeholder="Search Friends" aria-label="Search">
                <button class="btn btn-outline-success" onclick="searchUsers()">Search</button>
            </form>
            <a class="btn btn-danger btn-sm ms-4" href="{% url 'logout' %}">Logout </a>
        </div>
    </div>
</nav>