{%load customFilters%}

<div class="container">
    <div class="d-flex justify-content-center mt-5">
        {%if results%}
        <div class="card" style="width: 40rem;">
            <div class="card-title ms-3 mt-2">
                <h4>Results</h4>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    
                    {%for user in results%}
                    <li class="list-group-item pb-4 pt-4">
                        {%if user.profile_pic%}
                        <div class="float-start" style="height: 40px; width: 40px;">
                            <img src="{{user.profile_pic.url}}" class="img-fluid ">
                        </div>
                        {%endif%}
                        &nbsp;&nbsp;{{user.firstname}}&nbsp;{{user.lastname}}&nbsp;<small>({{user.username}})</small>
                        <div class="float-end">
                            {% isRequested request.user user as isRequest%}
                            {% isRequested user request.user as haveRequest%}
                            {% areFriends request.user user as areFriend %}
                            {%if isRequest%}
                            <div>
                                <h6>Requested</h6>
                                <button class="btn btn-danger btn-sm"
                                    onclick="cancelRequest('cReq/{{user.id}}/{{query}}/{{results.number}}')">Cancel Request</button>
                            </div>
                            {%elif haveRequest%}
                            <div>
                                <button class="btn btn-success btn-sm" onclick="acceptRequest('acceptR/{{user.id}}/{{query}}/{{results.number}}')">Accept</button>
                                <button class="btn btn-danger btn-sm" onclick="rejectRequest('rejectR/{{user.id}}/{{query}}/{{results.number}}')">Reject</button>
                            </div>
                            {%elif areFriend%}
                            <p>friend{{user}}</p>
                            {%else%}
                            
                            <button class="btn btn-primary btn-sm" onclick="sendRequest('sReq/{{user.id}}/{{query}}/{{results.number}}')">
                                Add Friend
                            </button>
                            {%endif%}
                        </div>
                    </li>
                    {%endfor%}
                </ul>

            </div>
            <nav>
                <ul class="pagination justify-content-center">
                    {%if results.has_previous%}
                    <li class="page-item me-2">
                        <button class="page-link" onclick="goToPreviousPage('search/?find={{query}}&page={{results.previous_page_number}}')">Previous</button>
                    </li>
                    {%endif%}
                    <li class="page-item fs-4">
                        <b>Page {{ results.number }} of {{ results.paginator.num_pages }}.&nbsp;</b>
                    </li>
                    {%if results.has_next%}
                    <li class="page-item">
                        <button class="page-link" onclick="goToNextPage('search/?find={{query}}&page={{results.next_page_number}}')">Next</button>
                    </li>
                    {%endif%}
                </ul>
            </nav>
        </div>

        {%else%}
        <h4>No Users Found</h4>
        {%endif%}



    </div>


</div>