<!-- {% comment %} <div>
    <a class="btn btn-primary btn-sm ms-3 mt-3" href="#main-sidebar" data-bs-toggle="offcanvas" role="button">Menu</a>
</div>
<div class="offcanvas offcanvas-start text-bg-dark" id="main-sidebar" style="width: 200px;">
    <div class="offcanvas-header">
        <h3 class="offcanva-title">Menu</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <button onclick="goToAccount()" class="btn btn-secondary mt-1 active" style="width: 100%;">Account</button>
        <button onclick="goToUploads('0')" class="btn btn-secondary mt-2" style="width: 100%;">Uploads</button>
        <button onclick="goToFriends()" class="btn btn-secondary mt-2" style="width: 100%;">Friends</button>
        <button onclick="goToMyPosts()" class="btn btn-secondary mt-2" style="width: 100%;">My Posts</button>
    </div>
</div> {% endcomment %}
{% comment %} 
<div class="container">

    {% if type == 0 %}
    {% include 'components/forAccount/account.html' %}
    {% elif type == 1 %}
    {% include 'components/forUploads/uploads.html'%}
    {% elif type == 10 %}
    {% include 'components/forUploads/showPrPics.html' with show=1 %}
    {% elif type == 11 %}
    {% include 'components/forUploads/showPrPics.html' with show=2 %}
    {%endif%}

</div> {% endcomment %} -->

<div class="container mt-2">
    <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
            <button class="nav-link" id="nav-account-tab" data-bs-toggle="tab" data-bs-target="#nav-Space" onclick="showUserInfo()">
                Account
            </button>
    
            <button class="nav-link" id="nav-uploads-tab" data-bs-toggle="tab" data-bs-target="#nav-Space" onclick="showUploads()">
                Uploads
            </button>
    
            <button class="nav-link" id="nav-friends-tab" data-bs-toggle="tab" data-bs-target="#nav-Space" onclick="showFriends()">
                Friends
            </button>
    
            <button class="nav-link" id="nav-myPosts-tab" data-bs-toggle="tab" data-bs-target="#nav-Space" onclick="showMyPosts()">
                My Posts
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" id="nav-Space" role="tabpanel">
            
        </div>
        <!-- <div class="tab-pane fade" id="nav-friends" role="tabpanel" aria-labelledby="nav-friends-tab" tabindex="0">fri</div>
        <div class="tab-pane fade" id="nav-uploads" role="tabpanel" aria-labelledby="nav-uploads-tab" tabindex="0">ul</div>
        <div class="tab-pane fade" id="nav-myPosts" role="tabpanel" aria-labelledby="nav-myPosts-tab" tabindex="0">my</div> -->
    </div>
</div>
