<div class="container mt-2">
    <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
            <button class="nav-link" id="nav-account-tab" data-bs-toggle="tab" data-bs-target="#nav-Space" onclick="showUserInfo()">
                Account
            </button>
    
            <button class="nav-link" id="nav-uploads-tab" data-bs-toggle="tab" data-bs-target="#nav-Space" onclick="showUploads()">
                Uploads
            </button>
    
            <button class="nav-link" id="nav-friends-tab" data-bs-toggle="tab" data-bs-target="#nav-Space" onclick="showFriends()">
                Friends
            </button>
    
            <button class="nav-link" id="nav-myPosts-tab" data-bs-toggle="tab" data-bs-target="#nav-Space" onclick="showMyPosts()">
                My Posts
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" id="nav-Space" role="tabpanel">
        </div>
    </div>
</div>
