<div class="card w-75">
    <div class="card-body">
        <form id="searchUserForm">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Search Users</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input class="form-control" type="text" name="find">
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-sm-4">
                    <button class="btn btn-sm btn-success" onclick="searchUsers()">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>