<div>
    <a class="btn btn-primary btn-sm ms-3 mt-3" href="#main-sidebar" data-bs-toggle="offcanvas" role="button">Menu</a>
</div>
<div class="offcanvas offcanvas-start text-bg-dark" id="main-sidebar" style="width: 200px;">
    <div class="offcanvas-header">
        <h3 class="offcanva-title">Menu</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <button onclick="goToAccount()" class="btn btn-secondary mt-1 active" style="width: 100%;">Account</button>
        <a href="#" class="btn btn-secondary mt-2" style="width: 100%;">Change Password</a>
        <button onclick="goToUploads('0')" class="btn btn-secondary mt-2" style="width: 100%;">Uploads</button>
        <button onclick="goToFriends()" class="btn btn-secondary mt-2" style="width: 100%;">Friends</button>
        <button onclick="goToMyPosts()" class="btn btn-secondary mt-2" style="width: 100%;">My Posts</button>
    </div>
</div>

<div class="container">

    {% if type == 0 %}
    {% include 'components/forAccount/account.html' %}
    {% elif type == 1 %}
    {% include 'components/forUploads/uploads.html'%}
    {% elif type == 10 %}
    {% include 'components/forUploads/showPrPics.html' with show=1 %}
    {% elif type == 11 %}
    {% include 'components/forUploads/showPrPics.html' with show=2 %}
    {%endif%}

</div>