{% load customFilters %}
<div class="d-flex justify-content-center mt-2">

    <div class="card w-75">
        <h4 class="card-title ms-2 mt-2">Notifications
            <button class="float-end btn btn-sm btn-secondary me-2 mt-2" onclick="markAllRead()">Mark All as Read</button>
        </h4>
        <div class="card-body">
            <ul class="list-group">
                {%for notify in notifications%}
                <li class="list-item mt-2 ms-2">
                    {%createString "api/readNotification/?notId=" notify.id "&page=" notifications.number as nURL%}
                    {%if not notify.isread%}
                    <button class="btn btn-lg btn-outline-success btn-sm" onclick="readNotification('{{nURL}}')">{{notify.notification}}
                        &nbsp;&nbsp;<h6 class="float-end">{{notify.created}}</h6>
                    </button>
                    {%else%}
                    <button class="btn btn-lg btn-success btn-sm" onclick="readNotification('{{nURL}}')">{{notify.notification}}
                        &nbsp;&nbsp;<h6 class="float-end">{{notify.created}}</h6>
                    </button>
                    {%endif%}
                </li>
                {%endfor%}
            </ul>
        </div>
        <nav>
            <ul class="pagination justify-content-center">
                {%if notifications.has_previous%}
                <li class="page-item me-2">
                    {%createString "api/getNots/?page=" notifications.previous_page_number as pURL%}
                    <button class="page-link" onclick="goToPreviousPage('main-Space', '{{pURL}}')">Previous</button>
                </li>
                {%endif%}
                <li class="page-item fs-4">
                    <b>Page {{ notifications.number }} of {{ notifications.paginator.num_pages }}.&nbsp;</b>
                </li>
                {%if notifications.has_next%}
                <li class="page-item">
                    {%createString "api/getNots/?page=" notifications.next_page_number as nextURL%}
                    <button class="page-link" onclick="goToNextPage('main-Space', '{{nextURL}}')">Next</button>
                </li>
                {%endif%}
            </ul>
        </nav>
    </div>
</div>