<div class="d-flex justify-content-center mt-3">
    <div class="card w-75" >
        <div class="card-body">
            <h6>When You Change Password you will be logged out.</h6>
            <form method="post">
                {%csrf_token%}
                <div class="row mt-2">
                    <div class="col-sm-4">
                        <label class="form-label">New Password :: </label>
                    </div>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="newPass" name="nPass" required>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-4">
                        <label class="form-label">Confirm Password :: </label>
                    </div>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="confirmPass" name="cPass" required>
                    </div>
                </div>
                <div class="row mt-2">
                    <button type="submit" class="btn btn-sm btn-outline-danger" id="changePassBtn" disabled>Change Password</button>
                </div>
            </form>
            <span id="message"></span>
        </div>
    </div>
</div>

<script>
    $("#confirmPass").on("keyup", function(){
        if ($("#newPass").val() == $("#confirmPass").val()){
            $('#message').html('Matching').css('color', 'green');
            document.getElementById("changePassBtn").disabled = false;
        }else{
            $('#message').html('Not Matching').css('color', 'red');
            document.getElementById("changePassBtn").disabled = true;
        }
    })
</script>