{%extends 'base.html'%}
{%block title%}SignUp{%endblock%}

{%block body%}
    <div class="d-flex flex-column container mt-5">
        {%include 'auth/form.html' with button_name="SignUp" %}
        <span id="message"></span>
        <label class="p-2 form-label">Already have an Account? <a class="btn btn-link" href="{% url 'login' %}">Login here</a></label>

    </div>

    <script>
        $("#id_password2").on("keyup", function(){
            if ($("#id_password1").val() == $("#id_password2").val()){
                $('#message').html('Matching').css('color', 'green');
                document.getElementById("submitBtn").disabled = false;
            }else{
                $('#message').html('Not Matching').css('color', 'red');
                document.getElementById("submitBtn").disabled = true;
            }
        })
    </script>
{%endblock%}