.errorlist{
    color: red;
    font-size: 14px;
}

.sidebar{
    background-color: rgb(49, 48, 48);
    width: 18%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 60px;
    overflow-x: hidden;
    transition: all 0.5s;
    z-index: 1;
}

.sidebar a{
    background-color: inherit;
    text-decoration: none;
    font-size: 20px;
    color: antiquewhite;
    display: block;
    margin-top: 20px;
    padding: 20px 0px 20px 20px;
    
}

.sidebar a:hover{
    color: rgb(100, 100, 100);
    /* background-color: aqua; */
}

.closeButton{
    background-color: inherit;
    margin-bottom: 10px;
    
}

.closeButton a{
    position: absolute;
    right: 15px;
    top: 0px;
    font-size: 30px!important;
    padding: 0px 10px 0px 10px;
    display: none;
}

.closeButton a:hover{
    color: red;
    /* background-color: chartreuse; */
}

.headerTitle{
    overflow: hidden;
    width: 100%;
    background-color: rgb(49, 48, 48);
    margin-left: 15%;
    display: table;
    position: fixed;
    top: 0;
    z-index: 1;
}

.headerTitle p{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: inherit;
    text-align: center;
    vertical-align: bottom;
    display: table-cell;
}

.headerTitle a{
    display: none;
    color: antiquewhite;
    background-color: inherit;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.headerTitle a:hover{
    color: cadetblue;
}

.mainBody{
    margin-top: 50px;
    padding-top: 10px;
    margin-left: 18%;
    background-color: rgb(199, 199, 199);
    color: black;
    word-wrap: break-word;
    height: 100%;
    min-height: 100vh;
}

.userOpts{
    position: absolute;
    display: table;
    bottom: 0px;
    left: 1px;
}

.userImage{
    display: table-cell;
}

.dropDownMenu{
    display: table-cell;
    padding-left: 10px;
}

.dropdown-menu{
    padding: 3px;
    margin: 0px;
    max-width: 150px;
    background-color: rgb(160, 160, 160);
}

.dropdown-menu li{
    background-color: rgb(66, 66, 66);
    padding: 0px;
    margin: 1px;
    max-width: 150px;
}

.dropdown-menu li a:hover{
    color: antiquewhite;
    background-color: rgb(99, 116, 131);
}

.dropdown-menu li a{
    padding: 3px;
    margin: 0;
    font-size: 20px;
    color: black;
    white-space: normal;
}

.btnBr{
    white-space: normal; 
    word-wrap: break-word;
    font-size: 11px;
}

.userOpts img{
    max-height: 70px;
    max-width: 70px;
    object-fit: fill;
    border-radius: 35px;
}

@media only screen and (max-width: 1000px) {
    .sidebar{
        width: 0;
    }
    .closeButton a{
        display: block;
    }
    .headerTitle{
        margin-left: 0;
    }
    .headerTitle a{
        display: table-cell;
    }
    .mainBody{
        margin-left: 0;
    }
    .userOpts img{
        max-width: 50px;
        max-height: 50px;
    }
    .btnBr{
        font-size: 14px;
    }
    .dropdown-menu{
        max-width: 50px;
    }
    .dropdown-menu li a{
        font-size: 16px;
    }
}

@media only screen and (max-width: 400px) {
    .headerTitle p{
        font-size: 28px;
    }
    .sidebar a{
        font-size: 16px;
    }
    .userOpts img{
        max-width: 30px;
        max-height: 30px;
    }
    .btnBr{
        font-size: 11px;
    }
    .mainBody{
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1001px){
    .sidebar{
        width: 18%;
    }
    .btnBr{
        font-size: 16px;
    }
}