{% load customFilters %}
{% setvar pPics.object_list|transform as Pics%}
<div class="d-flex justify-content-start">
    <button class="btn btn-link" onclick="goBack()">Back</button>
</div>
<div class="card">
    {% for p in Pics %}
    <div class="row mt-3">
        {%for pic in p%}
        <div class="col">
            <div class="card" style="width: 18rem;">
                {%if show == 1%}
                <div class="d-flex justify-content-end mt-2 me-2">
                    <button class="btn btn-sm btn-danger" onclick="deleteProfilePic('{{pic}}')">Delete</button>
                </div>
                {%endif%}
                <img src="{{pic}}" class="card-img-top" alt="...">
            </div>
        </div>
        {%endfor%}
    </div>
    {%endfor%}


    <nav>
        <ul class="pagination justify-content-center mt-5">
            {%if pPics.has_previous%}
            <li class="page-item me-2"><button class="page-link" onclick="goToPreviousPage('uploads/{{show}}/?page={{pPics.previous_page_number}}')">Previous </button></li>
            {%endif%}
            <li class="page-item fs-4"><b>Page {{ pPics.number }} of {{ pPics.paginator.num_pages }}. &nbsp;</b></li>
            

            {%if pPics.has_next%}
            <li class="page-item"><button class="page-link" onclick="goToNextPage('uploads/{{show}}/?page={{pPics.next_page_number}}')"> Next</button></li>
            {%endif%}
        </ul>
    </nav>

</div>