<div class="card mt-3 me-3" style="height: 600px;">
    <div class="row ms-3" >
        <div class="col">
            <div class="row ms-5" >
                <h3 class="offcanva-title">Profile Pics</h3>
            </div>
            <div class="row ms-5" style="width: 60%; height: 100%; ">
                {%if profile%}
                <button onclick="goToUploads('1')" >
                    <img src="{{profile}}" class="card-img-top" style="object-fit: contain;">
                </button>
                {%else%}
                    <h4>No Profile Pic Available</h4>
                {%endif%}
            </div>
        </div>

        <div class="col">
            <div class="row ms-5" >
                <h3 class="offcanva-title">Post Pics</h3>
            </div>
            <div class="row ms-5" style="width: 60%; height: 100%;">
                {%if postPics%}
                <button onclick="goToUploads('2')">
                    <img src="{{postPics}}" class="card-img-top" alt="...">
                </button>
                {%else%}
                    <h4>No Post Pics Available</h4>
                {%endif%}
            </div>
        </div>

    </div>
</div>
